name: OCaml CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: 4.14.x

    - name: Install Dune
      run: opam install dune -y

    - name: Build with Dune
      run: opam exec -- dune build --profile=sane

    - name: Run tests
      run: opam exec -- dune runtest
