name: OCaml CI
on: 
  workflow_call:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up OCaml
      uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: 4.14.x
    
    - name: Install dependencies
      run: opam install . --deps-only --with-test --yes
    
    - name: Build with Dune
      run: opam exec -- dune build
    
    - name: Run tests
      run: opam exec -- dune runtest
